@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.envelop {
  height: 80%;
  width: 100%;
  padding: 20% 0%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#reward {
  text-align: center;
}

#container {
  padding: 5px 10px 5px;
  margin: 20% 25% auto 26%;
  height: fit-content;
  width: fit-content;
  position: absolute;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  background-color: white;
  align-items: center;

  visibility: hidden;

  border: 1px solid black;
  z-index: -1;
}
button {
  z-index: 10;
}
#pictitle {
  width: 50%;
  margin: 0px auto auto 25%;
  text-align: center;
}
.letter {
  position: absolute;
  top: 200px;
  left: 25%;
  font-size: 50em;
  border: 1px solid black;
}
.openEnvelop {
  padding-top: 50%;
  animation: static 0.5s;
}
#speaker {
  height: 50px;
  width: 50px;
}

@keyframes static {
  0% {
    padding-top: 0%;
  }
  15% {
    padding-top: 10%;
  }
  30% {
    padding-top: 20%;
  }
  45% {
    padding-top: 30%;
  }
  55% {
    padding-top: 35%;
  }
  70% {
    padding-top: 40%;
  }
  85% {
    padding-top: 45%;
  }
  100% {
    padding-top: 50%;
  }
}

@media only screen and (max-width: 500px) {
  #container {
    padding: 5px 10px 5px;
    margin: 10px 35% auto 37%;
    position: absolute;
    background-color: white;
    visibility: hidden;
    z-index: -1;
  }
}
